@font-face {
    font-family: 'bluu';
    src: url('bluunext-bold-webfont.woff2') format('woff2'),
         url('bluunext-bold-webfont.woff') format('woff'),
         url('bluunext-bold.ttf') format('truetype'),
         url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

    @font-face {
     font-family: 'salt pepper';
     src: url('fonts/saltpepper-scriptsmooth-webfont.woff2') format('woff2'),
          url('fonts/saltpepper-scriptsmooth-webfont.woff') format('woff'),
          url('fonts/saltpepper-scriptsmooth-webfont.svg') format('svg');
     font-weight: normal;
     font-style: normal;
    }

    @font-face {
     font-family: 'salt pepper ornaments';
     src: url('fonts/saltpepper-ornamentssmooth-webfont.woff2') format('woff2'),
          url('fonts/saltpepper-ornamentssmooth-webfont.woff') format('woff'),
          url('fonts/saltpepper-ornamentssmooth-webfont.ttf') format('truetype'),
          url('fonts/saltpepper-ornamentssmooth-webfont.svg') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 