body {
    margin:0;
    line-height:1.4;
    width:100%;
    font-size:16px;
    font-family: 'bluu Next';
    color:#FFAF9D;


}

a {
    font-family:"Work Sans"
}

body p {
    font-family:"Work Sans" ,Arial, Helvetica, sans-serif;
}
header {
    top:0;
    left:0;
    width:100%;
    display:flex;
    background-color:#fff;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 2;
    transition:transform 0.5s ease;
}

.hidden {
    transform: translateY(-100%);
}

header h1 {
    color:#FFAF9D;
    padding:0 20px 0 20px;
    margin:5px 0 5px 0;
}

header nav {
    font-family:'work sans';
    padding:0 20px 0 20px;

}

nav a {
    text-decoration:none;
    color:#FFAF9D;
    margin-left:25px;
    font-size:18px;
}

nav a:hover {
    border-bottom: #FFAF9D solid 2px;
}

.selected {

    border-bottom:#FFAF9D solid 2px;
}

.hero {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-image:url("images/Charlotte_and_James_at_George_in_Rye_252.JPG");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:40% 60%;
}

.hero h2 {
    position:relative;
    text-align:center;
    font-size:48px;
    width:700px;
    color:#fff;;
    line-height:2.2;
}

h2 {
    font-family:'salt pepper';
    line-height:1.8;


}

.about {
    background-color:#FDE6DC;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.about-image {
    padding-right:100px;
}


.about-image div {
    width:400px;
    height:500px;
    background-image:url("images/IMG_8378.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.about h4 {
    margin-bottom:20px;;
    font-size:24px;
    font-family:salt pepper;
}

.about-text {
    margin-top:0px;
    width:450px;
    display:flex;
    flex-direction:column;
}


.prices {
    width:100%;
}

.prices h4 {
    font-size:24px;

}

.package-1 {
    max-width:100%;
    height:100vh;
    display:flex;
    
}

.package-1 h4 {
    max-width:500px;
}

.package-1-photos {
    width:50%;
    padding:100px;
}

.package-1-photos img{
width:350px;
}

.package-1-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
}

.package-1-info p {
    font-weight:700;
}

.package-1-info ul{
    padding:0px;
    width:450px;

}

.package-1-info li {
line-height:1.6;
font-family:"Work Sans";


}

.book-button {
    width: 100px;
    height: 32px;
    background-color: #000;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.book-button a {

    color:#fff;
    text-decoration:none;
    font-size:14px;

}

.couples {
    height:100vh;
    background-color:#FFAF9D;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.couples div {
    display:flex;
    justify-content: center

}

.couples h2 {
 
    cursor:pointer;
    margin:40px 20px;
    font-size:48px;
    color:#fff;
    position: relative;
    text-align:center;
}

.left {
    left:0px;
    padding:60px;
}

.right {
    right:0px;
    padding:60px;
}

.couples div img {
    display:none;
    position: absolute;
}

.couples div:hover img {
    display:flex;
}
h6 {
    font-family:Arial, Helvetica, sans-serif;
}

.couple-1 {
    height:100%;
    background-color:#FDE6DC;
    position:relative;
    width:100%;
    

}

.container {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;


}
.couple-1 h6 {
    margin:0px 0 20px 40px;
    padding-top:60px;
    position: relative;
}

.couple-1 .large-photo {
    padding-top:20px;
    display:flex;
    width:100%;
    justify-content: center;
 
}

.large-photo img {
    width:900px;
    position:relative;
}

.smaller-photos {
    max-width:700px;
    height:100%;

}

.land {
display:flex;
justify-content: left;
margin:100px;
position:relative;
}

.port {
display:flex;
justify-content: right;
position: relative;
bottom:350px;
margin:0px 100px 0 100px;

}


.land img {
    max-width:600px;

}

.port img {
    max-width:350px;
}

.instinct-feed {
    background-color:#FDE6DC;
    height:100%;
}

.instinct-feed h4 {
    display:flex;
    justify-content: center;
    margin:0 0 50px 0;
    padding-top:125px;
    font-size:24px;
}

.instinct-feed .photos {
    margin:0px auto 0 auto;
    width:900px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.instinct-feed .photo {
    width:33.33%;
    height:300px;
}

.photo img {
    width:300px;
    height: 300px;
}

footer {
    padding:10px 20px 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width:100%;
    background-color:#FFAF9D;

}

footer p {
    color:#fff;
}

footer div img {
    width: 25px;
    height:25px;
    margin-left:25px;
}


