@import "reset";
@import "typography";

$light-pink:#FDE6DC;
$pink: #FFAF9D;
$white:#FFFFFF;

$type-body:"Work Sans", Arial, Helvetica, sans-serif;
$type-header: "Bluu Next";
$type-script: "salt pepper";
$text-color-white: #FFFFFF;
$text-color-pink: #FFAF9D;

// animations 



// placeholder text opacity 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $text-color-pink;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $text-color-pink;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: text-color-pink;
  } 

body {
  
    margin:0;
    line-height:1.4;
    width:100%;
    font-size:16px;
    color:$text-color-pink;
    font-family:$type-body;

    a {
        text-decoration:none;
    }
}

h1, h4 {
    font-family: $type-header;
    color: $text-color-pink;
}

header {
    top:0;
    left:0;
    width:100%;
    display:flex;
    background-color:$white;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 2;
    transition:transform 0.5s ease;
}

.hidden {
    transform: translateY(-100%);
}

header h1 {
    padding:0 20px 0 20px;
    margin:5px 0 5px 0;
}

header nav {
    padding:0 20px 0 20px;
}

nav a {
    color:$text-color-pink;
    margin-left:25px;
    font-size:18px;
}

nav a:hover {
    border-bottom: $text-color-pink solid 2px;
}

.selected {
    border-bottom: $text-color-pink solid 2px;
}

.hero {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-image:url("img/Charlotte_and_James_at_George_in_Rye_252.JPG");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:40% 60%;
    animation: fadeIn 2s;
}

.hero h2 {
    position:relative;
    text-align:center;
    font-size:48px;
    width:700px;
    color: $text-color-white;
    line-height:2.2;
}

h2 {
    font-family:'salt pepper';
    line-height:1.8;
}

.about {
    background-color:#FDE6DC;
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.about-image-container {
    padding-right:100px;
}


.about-image {
    width:400px;
    height:500px;
    background-image:url("img/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.about h4 {
    margin-bottom:25px;;
    font-size:24px;
    font-family:salt pepper;
}

.about-text {
    margin-top:0px;
    width:450px;
    display:flex;
    flex-direction:column;
}

.about p {
    margin:0 0 20px 0;
}


.prices {
}

.prices h4 {
    font-size:24px;

}

.prices .arrow {
    cursor:pointer;
    width:100%;
    bottom:20px;
    position:absolute;
    display:flex;
    justify-content:center; 
}

.contact {
    display:flex;
    height:100vh;
    width:100%;
    background-color:#FDE6DC;

}

.contact .quote {
width:50%;
display:flex;
justify-content: center;
align-items: center;
}

.contact .details {
width:50%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

 button.submit {
    cursor:pointer;
    width:360px;
    height:32px;
    border:none;
    color:#fff;
    background-color: #FFAF9D;
    font-size:16px;
    margin:20px 0 0 0;
}

.details input {
    font-family:$type-body;
    opacity:1;
    height:32px;
    width:350px;
    font-size:16px;
    border:none;
    margin-top:10px;
    padding:5px;
    color:$text-color-pink;
}


.contact .message {
    font-family:$type-body;
    resize:none;
    width:350px;
    height:200px;
    font-size:16px;
    border:none;
    margin-top:10px;
    color:$text-color-pink;
    padding:5px;
}

.quote h2 {
    font-size:48px;
    line-height:2.2;
    width:350px;
}


.package {
   
    max-width:100%;
    padding-top:80px;
}


package-info .div {
    width:100%;
}

.package h4 {
    max-width:100%;
    margin-bottom: 65px;
    position:relative;
}


.package-block {
    display:flex;
    height:100%;
    justify-content: last baseline;
    width:100%;
}


.package-info {
    display:flex;
    flex-direction: column;
    width:33.33%;
    padding:40px;


}

.package-info .content {
    position: relative;
    
}

.package-info .content-3 {
    margin-bottom:30px;
}

.package-info img {
    max-width:100%;
    border-radius: 10%;
}

.package-info p {
    font-weight:700;
}

.package-info ul{
    padding:0px;
    max-width:500px

}

.package-info li {
font-family:"Work Sans";
padding-bottom:15px;

}

.book-button {
    width: 100px;
    height: 32px;
    background-color: #FFAF9D;
    margin-top: 30px;
    margin-bottom:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-decoration:none;
    font-size:16px;

}

.book-button a {
    color:#fff;


}


/* Gallery Selections */


.galleries {
    height:100vh;
    background-color:#FFAF9D;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.galleries div {
    display:flex;
    justify-content: center

}

.galleries h2 {
 
    cursor:pointer;
    margin:40px 20px;
    font-size:36px;
    color:#fff;
    position: relative;
    text-align:center;
}

.galleries .left {
    left:0px;
    padding:60px;
}

.galleries .right {
    right:0px;
    padding:60px;
}

.galleries img {
    display:none;
    position: absolute;
}

 div:hover img {
    display:flex;
    animation:fadeIn 1s;

}

.gallery-nav {
    width:100%;
    display:flex;
    justify-content: center;
    padding-top:80px;
    padding-bottom:40px;

   
    h3 {
        cursor:pointer;
        margin-left:20px;
        margin-right:20px;
        padding-bottom:5px;

    }
}

.container {
    max-width:100%;
    background-color:$light-pink;
    padding: 0 20px 125px 20px; 
    

}

.container .images {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr 1fr 1fr);
    justify-content: center;
    grid-row-gap: 20px;
    grid-column-gap:20px;
}

.image {

    img {
            width:100%;
    }
}


.instinct-feed {
    background-color:#FDE6DC;
    height:100%;
}

.instinct-feed h4 {
    display:flex;
    justify-content: center;
    margin:0 0 50px 0;
    padding-top:125px;
    font-size:24px;
}

.instinct-feed .photos {
    margin:0px auto 0 auto;
    width:900px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.instinct-feed .photo {
    width:33.33%;
    height:300px;
}

.photo img {
    width:300px;
    height: 300px;
}

footer {
    padding:10px 20px 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width:100%;
    background-color:$pink;
    color: $text-color-white;
}

.icons {
    display:inline-block;
}

.icons img {
    width:25px;
    height:25px;
    margin-left:10px;
}
